{% load template_filters %}

<!DOCTYPE html>
<html>
<head>
    <title>YouTube Video Downloader</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-5">
        <h1 class="text-center">YouTube Video Downloader</h1>
        <div class="row justify-content-center">
            <div class="col-md-6">
                <form method="post" class="border p-4 bg-light">
                    {% csrf_token %}
                    <div class="form-group">
                        {{ form.url.label_tag }}
                        {{ form.url|add_class:"form-control" }}
                    </div>
                    <div class="form-group">
                        {{ form.quality.label_tag }}
                        {{ form.quality|add_class:"form-control" }}
                    </div>
                    <button type="submit" class="btn btn-primary btn-block">Download</button>
                </form>
                {% if form.is_valid %}
                    <div class="mt-4">
                        <h3>Video Thumbnail</h3>
                        <img src="{{ form.cleaned_data.thumbnail_url }}" class="img-fluid" alt="Video Thumbnail">
                    </div>
                {% endif %}
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
